@charset "utf-8";
.hide{
  width:0; height:0;
  font-size:0; line-height: 0;
  position: absolute;
  visibility: hidden;
}
/* 공통 */
body{
  font:18px/ 30px Arial,sans-serif;
  color:#4b4b4b;
}
div#wrap{}
header>div,article>div{
  width:1320px;
  margin: 0 auto;
}
article{
  padding: 80px 0;
}
article h3{
  font-size:48px;
  list-style: 1.5;
  margin-bottom:45px;
  text-align:center;
}
article .title{
  font-size:30px;
  line-height: 1.5em;
  margin-bottom:50px;
}
img{
  width:100%;
}
/* article .text{} */

/* header */
#wrap>header{
padding:17px 0;
background-color:#242424;
position:relative;
}
header>div{
display:flex;
justify-content: space-between;
align-items: center;
}
header>div>h1>a{
  font-family:'나눔고딕',sans-serif;
  color:#fff;
  font-size:30px;
}
nav>ul>li{
  display:inline-block;
  margin-left:40px;
}
nav>ul>li>a{
  font-size:20px;
  color:#fff;
}
/* btn */
header>#btn{
  position:absolute;
  width:30px; height:30px;
  right:100px;
  top:18px;
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: space-between;

}
header>#btn>span{
  display:block;
  width:100%;
  height:2px;
  background-color:#fff;
}

#box01{
  padding: 0;
  width:100%;
  height:calc(100vh - 71px);}

#box01>h3{
  position: absolute;
  left:50%; top:50%;
  width:680px; height:280px;
  border:1px solid #fff;
  margin: -140px 0 0 -340px;
  line-height:1.5;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#fff;
}
#box01>h3>span{
  display:block;
}

#box01>ul{
 width:400%;
 height:100%;
 display:flex;
 flex-wrap:wrap;
}
#box01>ul>li{
  width:25%;
  text-indent:-9999px;
  background:url('../images/blue.jpg') no-repeat center top;
}
/* #box01>ul>li:nth-child(1){
  background-img:url('../images/blue.jpg');
} */
#box01>ul>li:nth-child(2){
  background-image:url(../images/green.jpg);
}
#box01>ul>li:nth-child(3){
  background-image:url(../images/pink.jpg);
}
#box01>ul>li:nth-child(4){
  background-image:url(../images/purple.jpg);
}
#box01>p{
  width:1320px;
  position:absolute;
  background-color:red;
  /* right:269px; */
  bottom:50px;
  left:50%;
  margin-left:-660px;
  display:flex;
  justify-content: flex-end;
}
#box01>p>a{
  display:inline-block;
  width:25px; height:24px;
  border-radius: 50%;
  background-color:#fff;
  margin-left:18px;
  text-indent: -9999px;
}

/* #box02 */
/*  변칙 */
#box02>div{
  width:980px;
  /* width:987px; */
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
#box02>div>dl{
  width:270px;
  padding:156px 0 60px;
  text-align:center;
  color:#fff;
  background:#9c9491 url('../images/header_icon_01.png') no-repeat center 65px;
}
#box02>div>dl:nth-child(2){
  background-image:url('../images/header_icon_02.png');}
#box02>div>dl:nth-child(3){
  background-image:url('../images/header_icon_03.png');}
#box02>div>dl>dt{
    margin-bottom:44px;}
#box02>div>dl>dd{
    width:80%;
    margin: 0 auto;
    text-align:justify;
    font-size:14px;
    line-height:1.5;
  }

#box03{
  background-color:#e8e8e8;
}
/*  가로 변칙 1103px*/
#box03>div{
  width:1103px;

}
#box03 .box{
  /* width:auto; */
  padding-left:446px;
  position:relative;
}
#box03 .box>figure{
  position:absolute;
  left:0;top:0;
}

#box03 .box>div>.text{ 
  margin-bottom:50px;
}
#box03 .box>div>.btn{
  text-align:right;
}
#box03 .box>div>.btn>button{
  width:198px;
  height:54px;
  color:#fff;
  background-color:#9c9491;
  border:none;
  box-sizing:border-box;
  border-radius:27px;
}

#box04{}
#box04>div{}
#box04 .box{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
#box04 .box>div{
  width:483px;
}
#box04 .box>ul{
 width: 576px;
 overflow:hidden;
}
#box04 .box>ul>li{
  width:80px; height:80px;
  margin: 0 8px 16px;
  border:2px solid #cbc6c5;
  float:left;
  box-sizing:border-box;
  text-indent:-99999px;
  background:url('../images/icon/html5.png') no-repeat center ;
}
#box04 .box>ul>li:nth-child(2){
  background-image:url('../images/icon/html5.png');}
#box04 .box>ul>li:nth-child(3){
  background-image:url('../images/icon/css3.png');}
#box04 .box>ul>li:nth-child(4){
  background-image:url('../images/icon/javascript.png');}
#box04 .box>ul>li:nth-child(5){
  background-image:url('../images/icon/jquery.png');}
#box04 .box>ul>li:nth-child(6){
  background-image:url('../images/icon/vue.png');}
#box04 .box>ul>li:nth-child(7){
  background-image:url('../images/icon/react.png');}
#box04 .box>ul>li:nth-child(8){
  background-image:url('../images/icon/bootstrap.png');}
#box04 .box>ul>li:nth-child(9){
  background-image:url('../images/icon/git.png');}
#box04 .box>ul>li:nth-child(10){
  background-image:url('../images/icon/npm.png');}
#box04 .box>ul>li:nth-child(11){
  background-image:url('../images/icon/sass.png');}
#box04 .box>ul>li:nth-child(12){
  background-image:none;}

/* #box05 */
#box05{
  padding-bottom:30px;
  background-color:#c3c3c3;
  text-align:center;
}
#box05>div>p.text{
  margin-bottom:34px;
}
#box05>div>ul{
  display:flex;
  justify-content: center;
  margin-bottom:34px;
}
#box05>div>ul>li{
  padding:0 10px;
  border-left:1px solid #fff;
  line-height:1;
}
#box05>div>ul>li:first-child{
  border-left:none;
}
#box05>div>ul>li>a{
  color:#fff;
}

/* gallery */
#box05 .gallery{
  /* width:auto; */
  position:relative;
}
#show{
  /* width:auto; */
}
#all{
  /* width:auto; */
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
#all>figure{
  width:417px;
  margin-bottom:48px;
}
/*  버튼 */
#box05 .gallery>p{
  position:absolute;
  width:30px;
  height:30px;
  top:50%;
  margin-top:-15px;
  background-color:red;
  display:none;
}
#box05 .gallery>p.prev{
  left:0;
}
#box05 .gallery>p.next{
  right:0;
}

/* #box06 */
#box06{
  background-color:#9c9491;
  color:#fff;
}
#box06 a{
  color:#fff;
}
#box06>div{
  width:1103px;
}

#box06 .box{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
#box06 .box>div{
  width:445px;
}
#box06 .box>div>.text{
  margin-bottom:34px;
}
#box06 .box>div>dl{
  margin-bottom:26px;
}
#box06 .box>div>dl>dt{
  padding-left:34px;
  background:url('../images/contact_icon_01.png') no-repeat left center;
  background-color:24px;
}
#box06 .box>div>dl:nth-child(4)>dt{
  background-image:url('../images/contact_icon_02.png');
}
#box06 .box>div>dl:nth-child(5)>dt{
  background-image:url('../images/contact_icon_03.png');
}
#box06 .box>div>dl>dd{
  padding-left:34px;
}



#box06 .box>form{
  width:445px;
  margin-right:60px;
  background-color:#fff;
  color:#666;
  padding:25px 20px;
  box-sizing:border-box;
}
#box06 .box>form ul{}
#box06 .box>form ul>li{
  margin-bottom:20px;
}
#box06 .box>form ul>li>label{
  display:block;
  line-height:1;
  margin-bottom:10px;
}
#box06 .box>form ul>li>input{
  padding:0; margin:0;
  width:100%;
  box-sizing:border-box;
  border:none;
  line-height:43px;
  text-indent: 20px;
  background-color:#eae4e4;
  border-radius:5px;
  color:#666;
}
#box06 .box>form ul>li>textarea{
  padding:0; margin:0;
  width:100%;
  height:120px;
  box-sizing:border-box;
  border:none;
  line-height:20px;
  text-indent: 20px;
  background-color:#eae4e4;
  border-radius:5px;
  color:#666;
}
#box06 .box>form p{}
#box06 .box>form p>input{
  padding:0; margin:0;
  width:100%;
  box-sizing:border-box;
  border:none;
  background-color:#eae4e4;
  line-height:43px;
  border-radius:5px;
  font-size:18px;
  color:#666;
}

/* aside */
/* 168 */
aside .sument{
  position:fixed;
  top:50%;
  right:37px;
  margin-top: -84px;
}
aside .sument>li{
  margin-bottom:10px;
}
aside .sument>li>a{
  display:block;
  width:18px; height:18px;
  border-radius:50%;
  text-indent:-9999px;
  background-color:red;
}
aside .sument>li>a:hover{
  background-color:green;
}

aside .top{
  position:fixed;
  right:22px;
  bottom:126px;
  width:35px;
  height:34px;
  line-height:1;
  font-size:20px;
  display:flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  background-color:orange;
}
footer{
  padding:40px 0;
  text-align:center;
  color:#fff;
  background-color:#333333;
}
